# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Environment variables
.env

# VS Code settings (if you're using it)
.vscode/

# macOS metadata
.DS_Store

# Log files
*.log

# OS files
Thumbs.db

# Python egg files
*.egg-info/
.eggs/
